<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OllamaAPIKey</key>
	<string>16855db9b22e42938dca07191597f863.E9uOg3nb_weJQ0cvt4g2AXQ0</string>
	<key>OllamaAPIHost</key>
	<string>https://ollama.com</string>
	<key>OllamaModel</key>
	<string>gemini-3-flash-preview:cloud</string>
</dict>
</plist>
